In [1]:
import pandas as pd

In [2]:
!ls ../source

LTBI_estimates_2018-07-17.csv
MDR_RR_TB_burden_estimates_2018-07-17.csv
TB_burden_countries_2018-07-17.csv
TB_data_dictionary_2018-07-17.csv

In [5]:
tb = pd.read_csv('../source/TB_burden_countries_2018-07-17.csv')
mdr = pd.read_csv('../source/MDR_RR_TB_burden_estimates_2018-07-17.csv')
ltbi = pd.read_csv('../source/LTBI_estimates_2018-07-17.csv')
dic = pd.read_csv('../source/TB_data_dictionary_2018-07-17.csv')

In [4]:
tb.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,e_mort_num,e_mort_num_lo,e_mort_num_hi,cfr,cfr_lo,cfr_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,20093756,190.0,123.0,271.0,...,14000,7900,21000,NaN,NaN,NaN,35.0,19.0,13.0,29.0
1,Afghanistan,AF,AFG,4,EMR,2001,20966463,189.0,123.0,271.0,...,13000,7600,20000,NaN,NaN,NaN,48.0,26.0,18.0,39.0
2,Afghanistan,AF,AFG,4,EMR,2002,21979923,189.0,122.0,270.0,...,12000,7200,19000,NaN,NaN,NaN,63.0,33.0,23.0,51.0
3,Afghanistan,AF,AFG,4,EMR,2003,23064851,189.0,122.0,270.0,...,13000,7700,20000,NaN,NaN,NaN,60.0,32.0,22.0,49.0
4,Afghanistan,AF,AFG,4,EMR,2004,24118979,189.0,122.0,270.0,...,12000,7200,19000,NaN,NaN,NaN,76.0,40.0,28.0,62.0

In [6]:
mdr.head()

,country,iso2,iso3,iso_numeric,year,source_rr_new,source_drs_coverage_new,source_drs_year_new,e_rr_pct_new,e_rr_pct_new_lo,...,e_rr_pct_ret,e_rr_pct_ret_lo,e_rr_pct_ret_hi,e_mdr_pct_rr_ret,e_inc_rr_num,e_inc_rr_num_lo,e_inc_rr_num_hi,e_rr_in_notified_pulm,e_rr_in_notified_pulm_lo,e_rr_in_notified_pulm_hi
0,Afghanistan,AF,AFG,4,2016,Model,NaN,2016,4.1,1.40,...,16.0,13.00,18.0,95.0,3300,1200,5400,1600.0,790.0,2400.0
1,Albania,AL,ALB,8,2016,Surveillance,National,2012,2.3,0.64,...,6.7,0.17,32.0,0.0,12,2,23,7.0,1.0,14.0
2,Algeria,DZ,DZA,12,2016,Survey,National,2002,1.4,0.33,...,9.1,0.00,29.0,100.0,460,140,780,160.0,24.0,300.0
3,American Samoa,AS,ASM,16,2016,Model,NaN,2016,5.5,3.00,...,26.0,23.00,30.0,75.0,0,0,0,NaN,NaN,NaN
4,Andorra,AD,AND,20,2016,Surveillance,National,2016,0.0,0.00,...,0.0,0.00,0.0,NaN,0,0,0,0.0,0.0,3.0

In [7]:
ltbi.head()

,country,iso2,iso3,iso_numeric,year,source_hh,e_hh_size,prevtx_data_available,newinc_con04_prevtx,ptsurvey_newinc,ptsurvey_newinc_con04_prevtx,e_prevtx_eligible,e_prevtx_eligible_lo,e_prevtx_eligible_hi,e_prevtx_kids_pct,e_prevtx_kids_pct_lo,e_prevtx_kids_pct_hi
0,Afghanistan,AF,AFG,4,2016,"Afghanistan living conditions survey (ALCS), 2...",7.4,60.0,15417.0,NaN,NaN,20000.0,18000.0,21000.0,79.0,73.0,87.0
1,Albania,AL,ALB,8,2016,"Census, 2011",3.8,60.0,1.0,NaN,NaN,12.0,7.5,16.0,8.6,6.3,13.0
2,Algeria,DZ,DZA,12,2016,DÃ©penses de consommation des mÃ©nages algÃ©riens...,6.0,0.0,NaN,NaN,NaN,1200.0,790.0,1700.0,NaN,NaN,NaN
3,Angola,AO,AGO,24,2016,"MIS, 2006-2007",5.7,0.0,NaN,NaN,NaN,28000.0,25000.0,30000.0,NaN,NaN,NaN
4,Argentina,AR,ARG,32,2016,"Census, 2010",3.3,0.0,NaN,NaN,NaN,430.0,280.0,580.0,NaN,NaN,NaN

In [8]:
dic

,variable_name,dataset,code_list,definition
0,bmu,Community engagement,NaN,Number of TB Basic Management Units in the cou...
1,bmu_community_impl,Community engagement,NaN,Number of TB Basic Management Units which impl...
2,bmu_ref_data,Community engagement,NaN,Number of Basic Management Units with data on ...
3,bmu_rxsupport_data,Community engagement,NaN,Number of Basic Management Units with data on ...
4,bmu_rxsupport_data_coh,Community engagement,NaN,Total number of patients who started TB treatm...
5,community_data_available,Community engagement,0=No; 1=Yes,Are data available on community-based referral...
6,notified_ref,Community engagement,NaN,Total number of new and relapse TB cases notif...
7,notified_ref_community,Community engagement,NaN,Total number of new and relapse TB cases refer...
8,rxsupport_community_coh,Community engagement,NaN,Total number of patients who started TB treatm...
9,rxsupport_community_succ,Community engagement,NaN,Total number of patients who were cured or who...
10,country,Country identification,NaN,Country or territory name
11,iso_numeric,Country identification,NaN,ISO numeric country/territory code
12,iso2,Country identification,NaN,ISO 2-character country/territory code
13,iso3,Country identification,NaN,ISO 3-character country/territory code
14,c_cdr,Estimates,NaN,"Case detection rate (all forms), percent"
15,c_cdr_hi,Estimates,NaN,"Case detection rate (all forms), percent, high..."
16,c_cdr_lo,Estimates,NaN,"Case detection rate (all forms), percent, low ..."
17,c_newinc_100k,Estimates,NaN,"Case notification rate, which is the total of ..."
18,cfr,Estimates,NaN,Estimated TB case fatality ratio
19,cfr_hi,Estimates,NaN,Estimated TB case fatality ratio: high bound
20,cfr_lo,Estimates,NaN,Estimated TB case fatality ratio: low bound
21,e_inc_100k,Estimates,NaN,Estimated incidence (all forms) per 100 000 po...
22,e_inc_100k_hi,Estimates,NaN,Estimated incidence (all forms) per 100 000 po...
23,e_inc_100k_lo,Estimates,NaN,Estimated incidence (all forms) per 100 000 po...
24,e_inc_num,Estimates,NaN,Estimated number of incident cases (all forms)
25,e_inc_num_014,Estimates,NaN,Estimated number of incident cases that are ag...
26,e_inc_num_014_hi,Estimates,NaN,Estimated number of incident cases that are ma...
27,e_inc_num_014_lo,Estimates,NaN,Estimated number of incident cases that are ag...
28,e_inc_num_15plus,Estimates,NaN,Estimated number of incident cases that are ag...
29,e_inc_num_15plus_hi,Estimates,NaN,Estimated number of incident cases that are ag...
...,...,...,...,...
372,ret_cur,Outcomes,NaN,Outcomes for re-treatment cases: cured (not us...
373,ret_def,Outcomes,NaN,Outcomes for re-treatment cases: defaulted (no...
374,ret_died,Outcomes,NaN,Outcomes for re-treatment cases: died (not use...
375,ret_fail,Outcomes,NaN,Outcomes for re-treatment cases: failed (not u...
376,ret_nrel_coh,Outcomes,NaN,Outcomes for previously treated patients (excl...
377,ret_nrel_died,Outcomes,NaN,Outcomes for previously treated patients (excl...
378,ret_nrel_fail,Outcomes,NaN,Outcomes for previously treated patients (excl...
379,ret_nrel_lost,Outcomes,NaN,Outcomes for previously treated patients (excl...
380,ret_nrel_succ,Outcomes,NaN,Outcomes for previously treated patients (excl...
381,tbhiv_coh,Outcomes,NaN,"Outcomes for HIV-positive TB cases, all types:..."
382,tbhiv_died,Outcomes,NaN,"Outcomes for HIV-positive TB cases, all types:..."
383,tbhiv_fail,Outcomes,NaN,"Outcomes for HIV-positive TB cases, all types:..."
384,tbhiv_lost,Outcomes,NaN,"Outcomes for HIV-positive TB cases, all types:..."
385,tbhiv_succ,Outcomes,NaN,"Outcomes for HIV-positive TB cases, all types:..."
386,xdr_coh,Outcomes,NaN,Outcomes for XDR-TB cases: cohort size
387,xdr_died,Outcomes,NaN,Outcomes for XDR-TB cases: number died
388,xdr_fail,Outcomes,NaN,Outcomes for XDR-TB cases: number whose treatm...
389,xdr_lost,Outcomes,NaN,Outcomes for XDR-TB cases: lost to follow-up
390,xdr_succ,Outcomes,NaN,Outcomes for XDR-TB cases: treatment success (...
391,caseb_err_nat,Strategy,0=No; 42=Yes (all TB patients in the country);...,Did the National Treatment Programme keep (or ...
392,digital_adherence_support,Strategy,3=don't know; 210=Not used by any treatment ce...,Did any treatment centre use digital technolog...
393,eol_care,Strategy,0=No; 1=yes,Is there a component in the TB programme that ...
394,free_dx_followup,Strategy,0=No; 1=yes,Does national policy indicate that TB diagnost...
395,hcw_tb_infected,Strategy,NaN,Number of health-care workers who had TB
396,hcw_tot,Strategy,NaN,Total number of health-care workers who were w...
397,mdr_tx_nonntp,Strategy,NaN,Number of patients started on MDR-TB treatment...
398,priv_new_dx,Strategy,NaN,Number of new cases of TB diagnosed according ...
399,pub_new_dx,Strategy,NaN,Number of new cases of TB diagnosed according ...
400,universal_dst,Strategy,0=No; 1=yes,Does national policy and the diagnostic algori...
401,wrd_initial_test,Strategy,0=No; 1=yes,Does national policy and the diagnostic algori...

In [9]:
# datapoints

In [10]:
tb.columns

Index(['country', 'iso2', 'iso3', 'iso_numeric', 'g_whoregion', 'year',
       'e_pop_num', 'e_inc_100k', 'e_inc_100k_lo', 'e_inc_100k_hi',
       'e_inc_num', 'e_inc_num_lo', 'e_inc_num_hi', 'e_inc_num_f014',
       'e_inc_num_f014_lo', 'e_inc_num_f014_hi', 'e_inc_num_f15plus',
       'e_inc_num_f15plus_lo', 'e_inc_num_f15plus_hi', 'e_inc_num_f',
       'e_inc_num_f_lo', 'e_inc_num_f_hi', 'e_inc_num_m014',
       'e_inc_num_m014_lo', 'e_inc_num_m014_hi', 'e_inc_num_m15plus',
       'e_inc_num_m15plus_lo', 'e_inc_num_m15plus_hi', 'e_inc_num_m',
       'e_inc_num_m_lo', 'e_inc_num_m_hi', 'e_inc_num_014', 'e_inc_num_014_lo',
       'e_inc_num_014_hi', 'e_inc_num_15plus', 'e_inc_num_15plus_lo',
       'e_inc_num_15plus_hi', 'e_tbhiv_prct', 'e_tbhiv_prct_lo',
       'e_tbhiv_prct_hi', 'e_inc_tbhiv_100k', 'e_inc_tbhiv_100k_lo',
       'e_inc_tbhiv_100k_hi', 'e_inc_tbhiv_num', 'e_inc_tbhiv_num_lo',
       'e_inc_tbhiv_num_hi', 'e_mort_exc_tbhiv_100k',
       'e_mort_exc_tbhiv_100k_lo', 'e_mort_exc_tbhiv_100k_hi',
       'e_mort_exc_tbhiv_num', 'e_mort_exc_tbhiv_num_lo',
       'e_mort_exc_tbhiv_num_hi', 'e_mort_tbhiv_100k', 'e_mort_tbhiv_100k_lo',
       'e_mort_tbhiv_100k_hi', 'e_mort_tbhiv_num', 'e_mort_tbhiv_num_lo',
       'e_mort_tbhiv_num_hi', 'e_mort_100k', 'e_mort_100k_lo',
       'e_mort_100k_hi', 'e_mort_num', 'e_mort_num_lo', 'e_mort_num_hi', 'cfr',
       'cfr_lo', 'cfr_hi', 'c_newinc_100k', 'c_cdr', 'c_cdr_lo', 'c_cdr_hi'],
      dtype='object')

In [11]:
cols = list(tb.columns)
for c in ['country', 'iso2', 'iso_numeric', 'g_whoregion']:
    cols.remove(c)

In [14]:
tb_ = tb[cols].copy()

In [15]:
tb_['iso3'] = tb_['iso3'].str.lower()

In [16]:
tb_ = tb_.set_index(['iso3', 'year'])

In [17]:
tb_.head()

           e_pop_num  e_inc_100k  e_inc_100k_lo  e_inc_100k_hi  e_inc_num  \
iso3 year
afg  2000   20093756       190.0          123.0          271.0      38000
     2001   20966463       189.0          123.0          271.0      40000
     2002   21979923       189.0          122.0          270.0      42000
     2003   23064851       189.0          122.0          270.0      44000
     2004   24118979       189.0          122.0          270.0      46000

           e_inc_num_lo  e_inc_num_hi  e_inc_num_f014  e_inc_num_f014_lo  \
iso3 year
afg  2000         25000         54000             NaN                NaN
     2001         26000         57000             NaN                NaN
     2002         27000         59000             NaN                NaN
     2003         28000         62000             NaN                NaN
     2004         29000         65000             NaN                NaN

           e_inc_num_f014_hi    ...     e_mort_num  e_mort_num_lo  \
iso3 year                       ...
afg  2000                NaN    ...          14000           7900
     2001                NaN    ...          13000           7600
     2002                NaN    ...          12000           7200
     2003                NaN    ...          13000           7700
     2004                NaN    ...          12000           7200

           e_mort_num_hi  cfr  cfr_lo  cfr_hi  c_newinc_100k  c_cdr  c_cdr_lo  \
iso3 year
afg  2000          21000  NaN     NaN     NaN           35.0   19.0      13.0
     2001          20000  NaN     NaN     NaN           48.0   26.0      18.0
     2002          19000  NaN     NaN     NaN           63.0   33.0      23.0
     2003          20000  NaN     NaN     NaN           60.0   32.0      22.0
     2004          19000  NaN     NaN     NaN           76.0   40.0      28.0

           c_cdr_hi
iso3 year
afg  2000      29.0
     2001      39.0
     2002      51.0
     2003      49.0
     2004      62.0

[5 rows x 65 columns]

In [22]:
for c in tb_:
    df = tb_[[c]].dropna().reset_index()
    df.columns = ['country', 'year', c]
    df.to_csv(f'../../ddf--datapoints--{c}--by--country--year.csv', index=False)

In [24]:
mdr.columns

Index(['country', 'iso2', 'iso3', 'iso_numeric', 'year', 'source_rr_new',
       'source_drs_coverage_new', 'source_drs_year_new', 'e_rr_pct_new',
       'e_rr_pct_new_lo', 'e_rr_pct_new_hi', 'e_mdr_pct_rr_new',
       'source_rr_ret', 'source_drs_coverage_ret', 'source_drs_year_ret',
       'e_rr_pct_ret', 'e_rr_pct_ret_lo', 'e_rr_pct_ret_hi',
       'e_mdr_pct_rr_ret', 'e_inc_rr_num', 'e_inc_rr_num_lo',
       'e_inc_rr_num_hi', 'e_rr_in_notified_pulm', 'e_rr_in_notified_pulm_lo',
       'e_rr_in_notified_pulm_hi'],
      dtype='object')

In [25]:
cols = list(mdr.columns)
for c in ['country', 'iso2', 'iso_numeric']:
    cols.remove(c)

In [26]:
cols

['iso3',
 'year',
 'source_rr_new',
 'source_drs_coverage_new',
 'source_drs_year_new',
 'e_rr_pct_new',
 'e_rr_pct_new_lo',
 'e_rr_pct_new_hi',
 'e_mdr_pct_rr_new',
 'source_rr_ret',
 'source_drs_coverage_ret',
 'source_drs_year_ret',
 'e_rr_pct_ret',
 'e_rr_pct_ret_lo',
 'e_rr_pct_ret_hi',
 'e_mdr_pct_rr_ret',
 'e_inc_rr_num',
 'e_inc_rr_num_lo',
 'e_inc_rr_num_hi',
 'e_rr_in_notified_pulm',
 'e_rr_in_notified_pulm_lo',
 'e_rr_in_notified_pulm_hi']

In [27]:
mdr_ = mdr[cols].copy()
mdr_['iso3'] = mdr_['iso3'].str.lower()
mdr_ = mdr_.set_index(['iso3', 'year'])

In [28]:
mdr_.head()

,,source_rr_new,source_drs_coverage_new,source_drs_year_new,e_rr_pct_new,e_rr_pct_new_lo,e_rr_pct_new_hi,e_mdr_pct_rr_new,source_rr_ret,source_drs_coverage_ret,source_drs_year_ret,e_rr_pct_ret,e_rr_pct_ret_lo,e_rr_pct_ret_hi,e_mdr_pct_rr_ret,e_inc_rr_num,e_inc_rr_num_lo,e_inc_rr_num_hi,e_rr_in_notified_pulm,e_rr_in_notified_pulm_lo,e_rr_in_notified_pulm_hi
iso3,year,,,,,,,,,,,,,,,,,,,,
afg,2016,Model,NaN,2016,4.1,1.40,6.9,85.0,Model,NaN,2016,16.0,13.00,18.0,95.0,3300,1200,5400,1600.0,790.0,2400.0
alb,2016,Surveillance,National,2012,2.3,0.64,5.8,25.0,Surveillance,National,2012,6.7,0.17,32.0,0.0,12,2,23,7.0,1.0,14.0
dza,2016,Survey,National,2002,1.4,0.33,2.5,100.0,Survey,National,2002,9.1,0.00,29.0,100.0,460,140,780,160.0,24.0,300.0
asm,2016,Model,NaN,2016,5.5,3.00,8.0,76.0,Model,NaN,2016,26.0,23.00,30.0,75.0,0,0,0,NaN,NaN,NaN
and,2016,Surveillance,National,2016,0.0,0.00,84.0,NaN,Surveillance,National,2016,0.0,0.00,0.0,NaN,0,0,0,0.0,0.0,3.0

In [29]:
for c in mdr_:
    df = mdr_[[c]].dropna().reset_index()
    df.columns = ['country', 'year', c]
    df.to_csv(f'../../ddf--datapoints--{c}--by--country--year.csv', index=False)

In [30]:
ltbi.columns

Index(['country', 'iso2', 'iso3', 'iso_numeric', 'year', 'source_hh',
       'e_hh_size', 'prevtx_data_available', 'newinc_con04_prevtx',
       'ptsurvey_newinc', 'ptsurvey_newinc_con04_prevtx', 'e_prevtx_eligible',
       'e_prevtx_eligible_lo', 'e_prevtx_eligible_hi', 'e_prevtx_kids_pct',
       'e_prevtx_kids_pct_lo', 'e_prevtx_kids_pct_hi'],
      dtype='object')

In [32]:
cols = list(ltbi.columns)
for c in ['country', 'iso2', 'iso_numeric']:
    cols.remove(c)

In [33]:
ltbi_ = ltbi[cols].copy()
ltbi_['iso3'] = ltbi_['iso3'].str.lower()
ltbi_ = ltbi_.set_index(['iso3', 'year'])

In [34]:
ltbi_.head()

,,source_hh,e_hh_size,prevtx_data_available,newinc_con04_prevtx,ptsurvey_newinc,ptsurvey_newinc_con04_prevtx,e_prevtx_eligible,e_prevtx_eligible_lo,e_prevtx_eligible_hi,e_prevtx_kids_pct,e_prevtx_kids_pct_lo,e_prevtx_kids_pct_hi
iso3,year,,,,,,,,,,,,
afg,2016,"Afghanistan living conditions survey (ALCS), 2...",7.4,60.0,15417.0,NaN,NaN,20000.0,18000.0,21000.0,79.0,73.0,87.0
alb,2016,"Census, 2011",3.8,60.0,1.0,NaN,NaN,12.0,7.5,16.0,8.6,6.3,13.0
dza,2016,DÃ©penses de consommation des mÃ©nages algÃ©riens...,6.0,0.0,NaN,NaN,NaN,1200.0,790.0,1700.0,NaN,NaN,NaN
ago,2016,"MIS, 2006-2007",5.7,0.0,NaN,NaN,NaN,28000.0,25000.0,30000.0,NaN,NaN,NaN
arg,2016,"Census, 2010",3.3,0.0,NaN,NaN,NaN,430.0,280.0,580.0,NaN,NaN,NaN

In [35]:
for c in ltbi_:
    df = ltbi_[[c]].dropna().reset_index()
    df.columns = ['country', 'year', c]
    df.to_csv(f'../../ddf--datapoints--{c}--by--country--year.csv', index=False)

In [36]:
!open ../../

In [38]:
# concepts

In [37]:
dic.columns

Index(['variable_name', 'dataset', 'code_list', 'definition'], dtype='object')

In [75]:
cdf = dic[['variable_name', 'definition']].copy()

In [76]:
cdf.columns = ['concept', 'name']

In [77]:
cdf['concept_type'] = 'measure'

In [78]:
cdf.loc[cdf.concept.str.contains('source'), 'concept_type'] = 'string'
cdf.loc[cdf.concept.str.startswith('iso'), 'concept_type'] = 'string'
cdf.loc[cdf.concept=='country', 'concept_type'] = 'entity_domain'

In [79]:
cdf_2 = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])
cdf_2['concept'] = ['name', 'year']
cdf_2['name'] = ['Name', 'Year']
cdf_2['concept_type'] = ['string', 'time']

In [95]:
cdf_ = pd.concat([cdf, cdf_2]).sort_values(by=['concept_type', 'concept'])

In [96]:
cdf_.to_csv('../../ddf--concepts.csv', index=False)

In [82]:
# entity

In [83]:
country1 = tb[['country', 'iso2', 'iso3', 'iso_numeric']]

In [84]:
country2 = ltbi[['country', 'iso2', 'iso3', 'iso_numeric']]

In [85]:
country3 = mdr[['country', 'iso2', 'iso3', 'iso_numeric']]

In [87]:
country = pd.concat([country1, country2, country3], ignore_index=True)

In [89]:
country = country.drop_duplicates()

In [90]:
country.columns

Index(['country', 'iso2', 'iso3', 'iso_numeric'], dtype='object')

In [91]:
country = country.rename(columns={'country': 'name'})

In [92]:
country['country'] = country['iso3'].str.lower()

In [93]:
country = country[['country', 'name', 'iso3', 'iso2', 'iso_numeric']]

In [94]:
country.sort_values(by=['country']).to_csv('../../ddf--entities--country.csv', index=False)